$main : #F9F1E7;
$second : #E89F71;
$gray : #898989;
$deco : #FCF4EA;
$deco2 :  #F5F6FC;
$black : #3A3A3A;
$Gilroy : "Gilroy-Medium";
$Gilroy-b : "Gilroy-Bold";
$Gilroy-r : "Gilroy-Regular";
$Gilroy-sb : "Gilroy-Semi-Bold";
